//- Фото с описанием слева. Используется в новости подробной.
//- ====================
//- ---------------------
//- Фото с описанием слева.
mixin block-photo-description(description)
    // BEGIN section.b-news-item-text
    div
        span #{description}
        img(src="images/content/news-item-inner.jpg" alt="#{description}" title="#{description}")
    // END section.b-news-item-text