//- ====================
//- Dunlop: breadcrumbs
//- 03-05-2016: Vladimir Trifonov
//- --------------------
//- Шаблон вывода хлебных крошек.
//- ====================

//- Dunlop: mixin breadcrumbs
//- 29-04-2016: Tatiana Shemenyova
//- ---------------------
//- Хлебные крошки
mixin breadcrumb(...items)
    // BEGIN section.b-breadcrumb
    +b('ul').breadcrumb&attributes(attributes)
        each item in items
            +e('li').item
                +e('a')(href="javascript:void(0);" title="#{item}").link #{item}
            +e.block
                +e('span').dot
    // END section.b-breadcrumb