//- Шаблон вывода хлебных крошек.
//- ====================
mixin breadcrumb(...items)
    // BEGIN section.b-breadcrumb
    +b('ul').breadcrumb&attributes(attributes)
        each item in items
            +e('li').item
                +e('a')(href="javascript:void(0);" title="#{item}").link #{item}
            +e.block
                +e('span').dot
    // END section.b-breadcrumb