//- ====================
//- Dunlop: contacts-map
//- 10-05-2016: Tatiana Sh
//- --------------------
//- Шаблон контактов - карта
//- ====================

//- Dunlop: mixin contacts-map
//- 10-05-2016: Tatiana Sh
//- ---------------------
//- Карта
mixin contacts-map()
    // BEGIN section.b-product-map
    +b.contacts-map
        +e.map(id="js-map-contacts")
    // END section.b-product-map