//- Правовая информация.
//- ====================
mixin legal()
    // BEGIN section.b-legal
    +b.legal
        h2 Ограничение ответственности

        +e('p') Все сведения на&nbsp;данном сайте опубликованы исключительно в&nbsp;информационных целях, не&nbsp;налагают на&nbsp;нашу компанию никаких обязательств и&nbsp;не&nbsp;носят характера гражданско-правовой оферты. Информация, содержащаяся на&nbsp;сайте, не&nbsp;влечет возникновения договорных отношений относительно представленных товаров либо обязательств по&nbsp;их&nbsp;продаже. Дополнительную информацию об&nbsp;условиях приобретения наших товаров&nbsp;Вы можете получить у&nbsp;наших официальных дилеров. Сведения, содержащиеся на&nbsp;сайте, а&nbsp;также описанная продукция могут быть изменены или обновлены ООО &laquo;Данлоп Тайр СНГ&raquo; в&nbsp;любое время без предварительного уведомления. 
        +e('p') Если официально не&nbsp;объявлено иное, содержание сайта ООО &laquo;Данлоп Тайр СНГ&raquo; не&nbsp;содержит никаких гарантий свойств или данных о&nbsp;качестве товаров, за&nbsp;которые ООО &laquo;Данлоп Тайр СНГ&raquo; несет ответственность. Это касается также актуальности, правильности, полноты и&nbsp;качества информации. ООО &laquo;Данлоп Тайр СНГ&raquo; не&nbsp;принимает на&nbsp;себя ответственности в&nbsp;связи с&nbsp;содержанием данного сайта, за&nbsp;исключением ответственности, прямо предусмотренной законодательством.
        +e('p') Ответственность ООО &laquo;Данлоп Тайр СНГ&raquo; за&nbsp;любой прямой или косвенный ущерб и&nbsp;иные негативные последствия, возникшие вследствие использования данного сайта, полностью исключается. Обязанности и&nbsp;ответственность ООО &laquo;Данлоп Тайр СНГ&raquo; в&nbsp;отношении указанных товаров могут быть установлены исключительно должным образом.

    +b.column-block
        +e.column
            +b('ul').attention
                +e('li').item ООО &laquo;Данлоп Тайр СНГ&raquo; не&nbsp;несет ответственности за&nbsp;достоверность указанных адресов торговых точек своих официальных дилеров и&nbsp;просит уточнять данную информацию непосредственно у&nbsp;соответствующего дилера.

                +e('li').item ООО &laquo;Данлоп Тайр СНГ&raquo; не&nbsp;несет ответственности за&nbsp;потерю данных, любые прямые или косвенные убытки или вред, связанные с&nbsp;использованием любой информации, размещенной на&nbsp;настоящем сайте, а&nbsp;также с&nbsp;защитой прав интеллектуальной собственности третьих лиц, данных и&nbsp;программного обеспечения по&nbsp;защите от&nbsp;любых компьютерных вирусов. Пользователю надлежит самостоятельно принимать необходимые меры по&nbsp;защите собственного информационного и&nbsp;программного обеспечения от&nbsp;любого вида компьютерных вирусов.

                +e('li').item ООО &laquo;Данлоп Тайр СНГ&raquo; не&nbsp;несет ответственности за&nbsp;любые неточности или ошибки на&nbsp;данном сайте и&nbsp;не&nbsp;дает никаких гарантий относительно любой информации и&nbsp;программных продуктов, размещенных на&nbsp;других сайтах, которые являются или могут быть взаимосвязанными с&nbsp;настоящим сайтом. ООО &laquo;Данлоп Тайр СНГ&raquo; не&nbsp;отвечает за&nbsp;прямой и/или косвенный ущерб, причиненный переходами на&nbsp;вышеназванные сайты, использованием информации, программных и&nbsp;иных продуктов, размещенных на&nbsp;вышеперечисленных сайтах.

        +e.column
            +e.title Общие положения
            
            p
                mark
                    | Настоящий Веб-сайт является единственным официальным корпоративным сайтом Общества с&nbsp;ограниченной ответственностью &laquo;Данлоп Тайр СНГ&raquo;.

            p Цель данной страницы&nbsp;&mdash; ознакомить Вас с&nbsp;правилами посещения нашего сайта. Извещаем, что при любом использовании наименования данного сайта или его содержания, равно как доступе, загрузке, копировании любой части, при размещении информации в&nbsp;разделах сайта, где разрешены подобные операции, пользователь выражает свое безусловное согласие выполнять настоящие условия использования. Если Вы&nbsp;не&nbsp;согласны с&nbsp;предложенными условиями, мы&nbsp;рекомендуем воздержаться от&nbsp;любого использования данного сайта. Мы&nbsp;оставляем за&nbsp;собой право в&nbsp;любой момент изменять или обновлять условия использования сайта. В&nbsp;случае если какое-либо положение условий будет признано противоречащим российскому законодательству, ничтожным или утратившим силу, все остальные части условий считаются действительными и&nbsp;обязательными для исполнения.
    
    +b.legal--indent-top
        h2 Интеллектуальная собственность

        p Фирменные наименования и&nbsp;товарные знаки, представленные на&nbsp;данном сайте, являются интеллектуальной собственностью ООО &laquo;Данлоп Тайр СНГ&raquo; или его аффилированных лиц. Никакая информация, содержащаяся на&nbsp;сайте, не&nbsp;может рассматриваться как предоставление права на&nbsp;использование товарных знаков и&nbsp;других объектов интеллектуальной собственности. Незаконное использование фирменных наименований, товарных знаков и&nbsp;других объектов интеллектуальной собственности преследуется в&nbsp;соответствии с&nbsp;законодательством.

        +e.copyright
            | Copyright &copy; 2011 ООО «Данлоп Тайр СНГ».
            br
            | Все права защищены.

        p Все тексты, фотографии, графика и&nbsp;другие материалы на&nbsp;сайте защищены авторскими правами ООО &laquo;Данлоп Тайр СНГ&raquo;, его аффилированных лиц и&nbsp;партнеров. Копирование указанных материалов, а&nbsp;также их&nbsp;изменение и&nbsp;тиражирование без письменного правообладателя запрещены. ООО &laquo;Данлоп Тайр СНГ&raquo;, его аффилированные лица и&nbsp;партнеры оставляют за&nbsp;собой право защиты вышеуказанных прав в&nbsp;судебном порядке.

    +b.address
        h3 ООО «Данлоп Тайр СНГ»

        +e('p').place
            i.icon-baloon
            | 121108, Россия, Москва,
            br
            | ул. Ивана Франко 8, 11 этаж
            br
            | БЦ «Kutuzoff Tower»

        +e('p').phone
            i.icon-phone
            | +7 (495) 663-2360
            br
            | +7 (495) 663-2460 (факс)
// END section.b-legal