//- Основная часть новости.
//- ====================

//- Используем Dunlop: block-photo-description.jade: mixin +block-photo-description(description)
include ./block-photo-description.jade


mixin news-item-text()
    // BEGIN section.b-news-item-text
    h2 Компания Porsche совместно с Pirelli представила современные шины, специально разработанные для классических спорткаров немецкой марки.
    p По требованию «Порше» были сохранены оригинальные рисунки протектора, размеры шин, соотношения высоты и ширины профиля, применявшиеся в 1960-1990-х годах. В компании отметили, что несущая структура и состав резины «переизданных» шин соответствует современным аналогам, поэтому они отличаются улучшенными сцепными свойствами и хорошим сопротивлением качению. В тестах покрышек принял участие двукратный чемпион мира по ралли Вальтер Рерль.
    //- Используем Dunlop: include ./section/block-photo-description.jade для блока с другими новостями
    //- variables: description
    +block-photo-description("Тестировать покрышки Porsche и Pirelli помогал двукратный чемпион мира по ралли Вальтер Рерль (слева)")

    p Для заказа доступны три модели – Pirelli CN36, Pirelli P7 и Pirelli Zero Rosso. Кроме того, для трековых машин можно заказать полуслики P Zero Trofeo R. Всего компания предложила 32 варианта шин для автомобилей, выпущенных с 1959 по 2005 год: для Porsche 356 (индексы B и C), Boxster (986), 911 (G-модель, 964, 993 и 996) и для модельных рядов с разнесенной компоновкой – 924, 928, 944 и 968. Покрышки для классических машин, как и шины для современных моделей, отмечены индексом N, означающим, что они прошли сертификацию Porsche.
    p Приобрести новые шины для классических спорткаров Porsche можно в любом дилерском центре компании. За работу с владельцами отвечает специальное подразделение Porsche Classic.
    // END section.b-news-item-text