//- ====================
//- Dunlop: product_map
//- 05-05-2016: Vladimir Trifonov
//- --------------------
//- Шаблон карточки товара - карта
//- ====================




//- Dunlop: mixin product_map
//- 05-05-2016: Vladimir Trifonov
//- ---------------------
//- Карта, списки дилеров
mixin product_map()
    // BEGIN section.b-product-map
    +b.product-map
        +open-close('Скрыть карту')
        +e.map(id="gmap-catalog")
    // END section.b-product-map

//- Dunlop: mixin where_to_buy_map
//- 05-05-2016: Vladimir Trifonov
//- ---------------------
//- Карта, списки дилеров для страницы Где купить
mixin where_to_buy_map()
    // BEGIN section.b-product-map
    +b.product-map--where-to-buy-map
        +open-close('Скрыть карту')
        +e.map--where-to-buy-map(id="gmap-catalog")
    // END section.b-product-map