//- ====================
//- Dunlop: title-how-to
//- 08-05-2016: Vladislav Dovzhenko
//- --------------------
//-Заголовок страницы как выбрать шины.
//- ====================

mixin title-how-to(title)
	+b.title-how-to
		+e('h1').title #{title}